/*========== Universal ==========*/

@font-face {
    font-family: proximanova;
    src: url(/fonts/proximanova-regular-webfont.woff);
}

@font-face {
    font-family: proximanova-light;
    src: url(/fonts/proximanova-light-webfont.woff);
    font-weight: 300;
}

@font-face {
    font-family: proximanova-semibold;
    src: url(/fonts/proximanova-semibold-webfont.woff);
    font-weight: 600;
}

@font-face {
    font-family: proximanova-bold;
    src: url(/fonts/proximanova-bold-webfont.woff);
    font-weight: 700;
}

html, body {
    height: 100%
}

body {
    width: 100%;
    background-color: #fff;
    font-family: 'proximanova', arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/*---------------------------------------------------------------------*/
/*  NAVBAR
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top {
    position: relative;
    margin: 0;
    border: 0;
    background-color: #de4839;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}

.navbar.navbar-fixed-top .navbar-toggle {
    /*margin-top: 20px;*/
    background-color: #de4839;
    color: #fff;
    border-color: #fff;
}

.navbar-brand {
    height: 30px;
    width: 290px;
    margin-top: 20px;
    background: url("../images/chombox_hori_w2.png") no-repeat;
}

@media only screen and (max-width : 768px) {
    .navbar-brand {
        background: url("../images/chombox_word_w.png") no-repeat;
    }
}

.navbar-collapse {
    text-transform: uppercase;
    font-size: 14px;
    top: 50px;
}

/*.navbar-collapse.collapse .navbar-nav {*/
    /*margin-top: 10px;*/
/*}*/

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #00aeef;
}
/*==========  INTRO  ==========*/
#intro {
    position: relative;
    display: table;
    width: 100%;
    padding: 0;
    height: 100%;
    background: url("../images/freightertop_1400.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*#js-rotating {*/
    /*/!* international orange - aerospace *!/*/
    /*color: #FF4F00;*/
/*}*/


@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    #intro {
        background: url("../images/freighter_port_786.jpg") no-repeat center right;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #intro .intro-body .logo > h1 {
        margin-top: 10px;
        margin-bottom: 0;
    }

    #intro .intro-body .intro-text h2 {
        font-size: 1.2em;
        margin-top: 0;
    }

    .intro-content {
        height: 100vh;
        text-align: center;
        padding: 0 0 ;
    }

    #intro .intro-body .intro-text p.lead {
        line-height: 1;
    }

    a.btn-cta, {
        padding: 0 0;
    }

    a.btn-cta-primary {
        font-size: .875em;
        position: relative;
        top: 60vh;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
/*and (-webkit-min-device-pixel-ratio: 3)*/
and (orientation: landscape) {
    #intro .intro-body .logo > h1 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #intro .intro-body .intro-text h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .intro-content {
        height: 100vh;
        text-align: center;
    }

    #intro .intro-body .intro-text p.lead {
        line-height: 1;
    }

    a.btn-cta, {
        padding: 0 0;
    }

    a.btn-cta-primary {
        font-size: .875em;
        position: relative;
        top: 35vh;
    }
}

#intro .intro-body .logo > h1 {
    /*color: rgba(222, 72, 57, 0.8);*/
    /* international orange - golden gate bridge */
    color: #C0362C;
    /* international orange - engineering */
    /*color: #BA160C;*/
    /* international orange - aerospace */
    /*color: #FF4F00;*/
    font-family: 'proximanova-light', sans-serif;
    font-weight: 300;
}

#intro .intro-body .intro-text h2 {
    /*color: #454545;*/
    color: #fff;
    font-family: 'proximanova', sans-serif;
    font-weight: 400;
}

#intro .intro-body .intro-text p.lead {
    /*color: #fff;*/
    color: #454545;
    font-family: 'proximanova-semibold', sans-serif;
    font-weight: 400;
    line-height: 1.1;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .navbar-brand {
        width: 205px;
        margin-top: 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar.navbar-fixed-top {
        -webkit-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
        -moz-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
        transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    }

    .navbar-brand {
        width: 290px;
        height: 30px;
        margin-top: 10px;
    }


    #intro .intro-body .logo > h1 {
        font-size: 3.438em;
    }

    #intro .intro-body .intro-text h2 {
        font-size: 2.813em;
        font-family: 'proximanova-light', arial, sans-serif;
    }

    a.btn-cta, {
        padding: 8px 30px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #intro .intro-body .logo > h1 {
        font-size: 5em;
    }

    a.btn-cta-lg {
        font-size: 1.125em;
        border-radius: 6px;
        line-height: 1.3333333;
    }

    /*#intro .intro-body .intro-text h2 {*/
        /*font-size: 58px;*/
    /*}*/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /*#intro .intro-body .intro-text h2 {*/
        /*font-size: 64px;*/
    /*}*/

    #intro .intro-body .intro-text p.lead {
        padding-left: 10%;
        padding-right: 10%;
    }

}

#work {
    padding-top: 80px;
    padding-bottom: 40px;
}


/***cube portfolio***/
.cube-masonry .cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: #3288C4;
    border-color: #3288C4;
    cursor: default;
}

.cube-masonry .cbp-l-filters-buttonCenter .cbp-filter-counter {
    background-color: #3288C4;
}

.cube-masonry .cbp-l-filters-buttonCenter .cbp-filter-counter:before {
    border-top-color: #3288C4;
}

.cube-masonry .cbp-l-grid-masonry-projects-title {
    color: #3288C4;
}


/*****portfolio section*****/
.col-3-space .project-post {
    width: 33.33%;
    padding: 15px;
}

@media (max-width: 768px) {
    .col-3-space .project-post {
        width: 50%;
        padding: 15px;
    }
}
@media (max-width: 568px) {
    .col-3-space .project-post {
        width: 100%;
        padding: 15px;
    }
}
.thumbnail {
    margin: 0px;
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
}
.image-overlay p {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.image-overlay p a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #333;
    margin: 3px;
    font-size: 20px;
    color: #fff;
}
.image-overlay p a i {
    display: block;
}

.image:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.image:hover .image-overlay {
    opacity: 1;
}

ul.filter {
    margin-bottom: 10px;
}
ul.filter li + li {
    margin-left: 5px;
}
ul.filter a {
    display: block;
    margin-bottom: 5px;
    letter-spacing: 0px;
    padding: 4px 10px;
    border: 1px solid #333;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}
ul.filter a:hover, ul.filter a.active, ul.filter a:focus {
    color: #3288C4;
    border-color: #3288C4;
}

.project-info ul {
    padding: 15px 0;
}
.project-info ul li a {
    color: #777;
    font-size: 22px;
}
.project-info ul li a:hover {
    color: #3288C4;
}
.project-info p strong {
    color: #333;
}
