/*========== Universal ==========*/

@font-face {
    font-family: proximanova;
    src: url(/fonts/proximanova-regular-webfont.woff);
}

@font-face {
    font-family: proximanova-light;
    src: url(/fonts/proximanova-light-webfont.woff);
    font-weight: 300;
}

@font-face {
    font-family: proximanova-semibold;
    src: url(/fonts/proximanova-semibold-webfont.woff);
    font-weight: 600;
}

@font-face {
    font-family: proximanova-bold;
    src: url(/fonts/proximanova-bold-webfont.woff);
    font-weight: 700;
}

/*---------------------------------------------------------------------*/
/*  NAVBAR
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top {
    position: relative;
    margin: 0;
    border: 0;
    min-height: 60px;
    background-color: #222;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}
@media (min-width: 768px) {
    .navbar.navbar-fixed-top {
        -webkit-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
        -moz-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
        transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    }
}

.navbar-brand {
    font-family: 'proximanova-light', sans-serif;
}

.navbar-collapse {
    font-family: 'proximanova', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar.navbar-fixed-top {
        -webkit-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
        -moz-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
        transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}