/*========== Universal ==========*/

@font-face {
    font-family: proximanova;
    src: url(/fonts/proximanova-regular-webfont.woff);
}

@font-face {
    font-family: proximanova-light;
    src: url(/fonts/proximanova-light-webfont.woff);
    font-weight: 300;
}

@font-face {
    font-family: proximanova-semibold;
    src: url(/fonts/proximanova-semibold-webfont.woff);
    font-weight: 600;
}

@font-face {
    font-family: proximanova-bold;
    src: url(/fonts/proximanova-bold-webfont.woff);
    font-weight: 700;
}

img {
    display: block;
    width: 100%;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}