/*========== Universal ==========*/

@font-face {
    font-family: proximanova;
    src: url(/fonts/proximanova-regular-webfont.woff);
}

@font-face {
    font-family: proximanova-light;
    src: url(/fonts/proximanova-light-webfont.woff);
    font-weight: 300;
}

@font-face {
    font-family: proximanova-semibold;
    src: url(/fonts/proximanova-semibold-webfont.woff);
    font-weight: 600;
}

@font-face {
    font-family: proximanova-bold;
    src: url(/fonts/proximanova-bold-webfont.woff);
    font-weight: 700;
}

html, body {
    height: 100%
}

body {
    font-family: 'proximanova', sans-serif;
}

/*---------------------------------------------------------------------*/
/*  NAVBAR
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top {
    position: relative;
    margin: 0;
    border: 0;
    min-height: 70px;
    background-color: #de4839;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}

.navbar.navbar-fixed-top .navbar-toggle {
    margin-top: 12px;
    background-color: #de4839;
    color: #fff;
    border-color: #fff;
}

.navbar-brand {
    height: 30px;
    width: 290px;
    margin-top: 20px;
    padding: 0 0;
}

.navbar-collapse {
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-collapse.collapse .navbar-nav {
    margin-top: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #00aeef;
}
/*==========  INTRO  ==========*/
#intro {
    position: relative;
    display: table;
    width: 100%;
    padding: 0;
    height: 100%;
    background: url("../images/freightertop_1400.jpg") no-repeat top center;
    background-attachment: fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

#intro .intro-body .logo > h1 {
    color: rgba(222, 72, 57, 0.8);
    font-family: 'proximanova-light', sans-serif;
    font-weight: 300;
    /*font-size: 80px;*/
}

#intro .intro-body .intro-text h2 {
    color: #fff;
    /*font-size: 64px;*/
    font-family: 'proximanova-light', sans-serif;
    margin-top: 50px;
    font-weight: 300;
}

#intro .intro-body .intro-text p.lead {
    color: #fff;
    /*font-size: 22px;*/
    font-size: 1.33em;
    line-height: 1.25;
    font-family: 'proximanova', sans-serif;
    font-weight: 400;
    padding-left: 125px;
    padding-right: 125px;
    color: #ffffff;
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .navbar-brand {
        margin-left: 15px;
    }

    #intro .intro-body .logo > h1 {
        font-size: 40px;
    }

    #intro .intro-body .intro-text h2 {
        font-size: 32px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar.navbar-fixed-top {
        -webkit-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
        -moz-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
        transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    }

    #intro .intro-body .logo > h1 {
        font-size: 55px;
    }

    #intro .intro-body .intro-text h2 {
        font-size: 45px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #intro .intro-body .logo > h1 {
        font-size: 80px;
    }

    #intro .intro-body .intro-text h2 {
        font-size: 64px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}